.card-body > p :hover {
  color: orange;
}

.image-icon-container {
  margin: 10px;
  position: relative;
}

.morehoriz-icon {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.65);
}

.image-icon-container img {
  display: block;
  width: 100%;
  /* z-index: 1; */
}

.morehoriz-icon:hover {
  cursor: pointer;
}

.view {
  color: lightblue;
}

.view:hover {
  cursor: pointer;
  color: olive;
  text-decoration: none;
}

.memory-image {
  width: 100%;
  height: 150px;
}

#post-item-container {
  width: 280px;
  margin: 20px;
}

@media (max-width: 600px) {
  #post-item-container {
    width: 100%;
    margin: 5px;
    margin-bottom: 60px;
  }
}
